<div class="flex items-center justify-center min-h-screen bg-neutral-secondary-soft">
  <form (ngSubmit)="register()" class="max-w-sm w-full space-y-6 bg-white p-6 rounded-lg shadow-md">

    <!-- Nom complet -->
    <div>
      <label class="block mb-2.5 text-sm font-medium text-heading">Nom complet</label>
      <input
        type="text"
        name="noms_complet"
        [(ngModel)]="noms_complet"
        class="block w-full rounded-base border border-default-medium bg-neutral-secondary-medium px-3 py-2.5 text-sm placeholder:text-body shadow-xs"
        placeholder="Votre nom complet"
        required
      />
    </div>

    <!-- Email -->
    <div>
      <label class="block mb-2.5 text-sm font-medium text-heading">Email</label>
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        class="block w-full rounded-base border border-default-medium bg-neutral-secondary-medium px-3 py-2.5 text-sm placeholder:text-body shadow-xs"
        placeholder="Adresse email"
        required
      />
    </div>

    <!-- Mot de passe -->
    <div>
      <label class="block mb-2.5 text-sm font-medium text-heading">Mot de passe</label>
      <input
        type="password"
        name="motdepasse"
        [(ngModel)]="motdepasse"
        class="block w-full rounded-base border border-default-medium bg-neutral-secondary-medium px-3 py-2.5 text-sm placeholder:text-body shadow-xs"
        placeholder="Mot de passe"
        required
      />
    </div>

    <!-- Type utilisateur -->
    <div>
      <label class="block mb-2.5 text-sm font-medium text-heading">Type d'utilisateur</label>
      <select
        name="type"
        [(ngModel)]="type"
        (change)="onTypeChange()"
        class="block w-full rounded-base border border-default-medium bg-neutral-secondary-medium px-3 py-2.5 text-sm shadow-xs"
        required
      >
        <option value="">Choisir un type</option>
        <option value="medecin">Médecin</option>
        <option value="receptionniste">Réceptionniste</option>
        <option value="admin">Administrateur</option>
        <option value="patient">Patient</option>
      </select>
    </div>

    <!-- Spécialité dynamique -->
    <div *ngIf="type === 'medecin'">
      <label class="block mb-2.5 text-sm font-medium text-heading">Spécialité</label>
      <select
        name="specialiteId"
        [(ngModel)]="specialiteId"
        class="block w-full rounded-base border border-default-medium bg-neutral-secondary-medium px-3 py-2.5 text-sm shadow-xs"
        required
      >
        <option value="">Sélectionner une spécialité</option>

        <!-- LISTE DYNAMIQUE -->
        <option *ngFor="let sp of specialite" [value]="sp.id">
          {{ sp.nom }}
        </option>

      </select>
    </div>

    <!-- Submit -->
    <button
      type="submit"
      class="w-full rounded-base bg-brand px-4 py-2.5 text-sm font-medium text-white shadow-xs hover:bg-brand-strong"
    >
      Créer un compte
    </button>
  </form>
</div>
